name: tests.yml
on:
  push:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"

    - name: Install dependencies
      run: |
        uv sync

    - name: Run API tests
      run: |
        uv run pytest tests/api/test_movies_api.py -v

    - name: Run service tests
      run: |
        uv run pytest tests/services/test_movie_service.py -v